header{
    text-align: center;
    background-color: #25b7c0;
    padding-top: 1vw;
    padding-bottom:1vw;
    font-size: 2vw;
}

.header{
    font-size: 7ch;
}

.first{
    padding: 1vh;
}

/* Noto-Sans用のCSS */

html[lang="ja"] {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  }