header{
    text-align: center;
    background-color: #25b7c0;
    padding-top: 1vw;
    padding-bottom:1vw;
    font-size: 2vw;
}

.header{
    font-size: 7ch;
}

.date{
    text-align: center;
    border: #25b7c0 solid 1px;
    margin-top: 1vh;
}

.request{
    padding: 1vh;
}

.first{
    padding: 1vh;
}

.midasi{
    font-size: 5vw;
}

.coming_soon{
    font-size: 5vw;
    text-align: center;
}

/* Noto-Sans用のCSS */

html[lang="ja"] {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  }